*{
    box-sizing: border-box;

}

body{

    font-family: Futura, Roboto;
    background-color: gainsboro;
    color: rgb(31, 95, 175);
}



a{
    text-decoration: none;
    color: rgb(31, 95, 175);
    transition: .3s;
}
a:hover{
    color: rgb(139, 31, 233);
    font-size: larger;
    scale: 1.1;
}



.menu__container{
    font-size: 2rem;

}
.menu__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 40px;
}

img{
    width: 400px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
    scale: 0.9;
}

img:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
    scale: 1;
}

.gallery{
    padding: 20px;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h3{
    text-align: center;
}

.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #090c03 ;
    margin-top: 30px;
    padding: auto;
    text-align: center;
    font-size: 3rem;
}