{% extends 'base.html' %}

{% block title %}
<title>Contact me - Bohdan Lutsenko</title>
{% endblock %}

{% block body %}
    <div class="contact_container">
         <div class="contact_header">
            You could find me here:</h3>
         </div>

         <div class="contact_block">
            <div class="contact_link">
                <a href="https://github.com/BabyShamb1e">github</a>
            </div>

            <div class="contact_link">
                <a href="https://www.linkedin.com/in/bohdan-lutsenko/">linkedin</a>
            </div>

            <div class="contact_link">
                <a href="https://twitter.com/BilboDebuggings">twitter</a>
            </div>

            <div class="contact_link">
                <a href="https://www.strava.com/athletes/66217419">strava</a>
            </div>
         </div>
    </div>

    <div class="contact_img">
            <img src="../static/images/icon.png">
    </div>
{% endblock %}

