{% extends 'base.html' %}

{% block title %}
<title>main</title>
{% endblock %}

{% block body %}
    <header class="menu__container">
        <ul class="menu__list">

            <a href="" class="name__link">Bohdan Lutsenko</a>

            <a href="" class="about__link">about</a>

            <a href="" class="projects__link">projects</a>

            <a href="/gallery" class="gallery__link">gallery</a>

            <a href="" class="contacts_link">contact me</a>
        </ul>
    </header>


    <div class="countdown">

        <div class="container-day">
            <h3 class="day">Time</h3>
            <h3></h3>
        </div>

        <div class="container-hour">
            <h3 class="hour">Time</h3>
            <h3></h3>
        </div>

        <div class="container-minute">
            <h3 class="minute">Time</h3>
            <h3></h3>
        </div>

        <div class="container-second">
            <h3 class="second">Time</h3>
            <h3></h3>
        </div>

    </div>

    <script src="./static/script/countdown.js"></script>


{% endblock %}

