{% extends 'base.html' %}

{% block title %}
<title>Gallery - Bohdan Lutsenko</title>
{% endblock %}

{% block body %}

    <div class="gallery_box">
        <div class="gallery">
            <img src="../static/images/photos/1.png" alt="">
            <img src="../static/images/photos/2.png" alt="">
            <img src="../static/images/photos/3.png" alt="">
            <img src="../static/images/photos/1.png" alt="">
            <img src="../static/images/photos/2.png" alt="">
            <img src="../static/images/photos/3.png" alt="">
            <img src="../static/images/photos/1.png" alt="">
            <img src="../static/images/photos/2.png" alt="">
            <img src="../static/images/photos/3.png" alt="">
            <img src="../static/images/photos/1.png" alt="">
            <img src="../static/images/photos/2.png" alt="">
            <img src="../static/images/photos/3.png" alt="">
        </div>
    </div>

{% endblock %}

