{% extends 'base.html' %}

{% block title %}
<title>photos</title>
{% endblock %}

{% block body %}

    <header class="menu__container">
        <ul class="menu__list">

            <a href="/" class="name__link">Bohdan Lutsenko</a>

            <a href="" class="about__link">about</a>

            <a href="" class="projects__link">projects</a>

            <a href="/gallery" class="gallery__link">gallery</a>

            <a href="" class="contacts_link">contact me</a>
        </ul>



    </header>

    <div class="gallery">
        <img src="../static/images/photos/1.png" alt="">
        <img src="../static/images/photos/2.png" alt="">
        <img src="../static/images/photos/3.png" alt="">
        <img src="../static/images/photos/1.png" alt="">
        <img src="../static/images/photos/2.png" alt="">
        <img src="../static/images/photos/3.png" alt="">
        <img src="../static/images/photos/1.png" alt="">
        <img src="../static/images/photos/2.png" alt="">
        <img src="../static/images/photos/3.png" alt="">
        <img src="../static/images/photos/1.png" alt="">
        <img src="../static/images/photos/2.png" alt="">
        <img src="../static/images/photos/3.png" alt="">


    </div>

{% endblock %}

