{% extends 'base.html' %}

{% block title %}
<title>photos</title>
{% endblock %}

{% block body %}
    <h3> TARA</h3>
 <div class="photo_container">
     <div class="box">
         <div class="img_box">
             <img src="../static/images/photos/1.png">
             <p>sssМоти</p>
         </div>
     </div>

     <div class="box">
         <div class="img_box">
             <img src="../static/images/photos/2.png">
             <p>Мотssssи</p>
         </div>
     </div>

     <div class="box">
         <div class="img_box">
             <img src="../static/images/photos/3.png">
             <p>Мотиsss</p>
         </div>
     </div>

 </div>



{% endblock %}

